.review{
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
}

.review::before{
  display: block;
  content: '';
  background: url('../../assets/review.jpg') no-repeat center center;
  background-size: cover ;
}

.reviewPhoto{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed #D8D8D8;
  border-radius: 0.5rem;
  cursor: pointer;
  flex-direction: column;
  color: #013896;
  transition: 0.3s all;
}

.reviewPhoto:hover{
  border-color: #013896;
}

.photo{
  max-height: 500px;
  max-width: 415px;
}

.photoButtons{
  display:flex;
  justify-content: space-around;
}

@media (max-width: 40rem){
  .review {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 0.5rem;
  }
}