.cardItem {
  user-select: none;
  transition: all 0.25s;
  width: 100%;
  
  height: fit-content;
}
.cardItem:hover {
  transform: scale(1.025);
}

.cardInfo {
  display: grid;
  grid-template-columns: auto 2fr;
  gap: 0.2rem;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cardImg {
  height: 300px;
  width: 210px;
  display: grid;
}


.cardImg img{
  grid-area: 1/1
}


.likeBackground {
  grid-area: 1/1;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.4);
}

.cardImg:hover .likeBackground{
  display: flex;
}

img {
  max-height: 300px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.myInfo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 0.5rem;
  padding: 0 0.5rem;
  align-items: center;
}
.myInfo h3 {
  word-break: break-word;
  font-size: 1.2rem;
  overflow: hidden;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  max-height: 100%;
  max-width: 100%;
  text-align: start;
  color: #666666;
}
.myInfo p {
  font-size: 15px;
  color: gray;
  margin: 0px;
  max-width: 100%;
  max-height: 100%;
  text-align: justify;
}

@media (max-width: 40rem) {
  .cardInfo {
    grid-template-columns: auto;
  }

  .cardImg {
    height: 100%;
    width: 100%;
  }

  .myInfo {
    display: none;
  }
}
