.modalImg {
  grid-column: 1;
  margin-top: 1rem;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modalImg img {
  max-width: 300px;
  display: block;
  align-self: flex-start;
}
